Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

#### Answer -

In [10]:
import pandas as pd
df = pd.DataFrame({"study time hours":[2,3,5,7,8],
                 "exam score":[50,60,80,85,90]})

In [11]:
df

   study time hours  exam score
0                 2          50
1                 3          60
2                 5          80
3                 7          85
4                 8          90

In [4]:
df.corr()

                  study time hours  exam score
study time hours          1.000000    0.970557
exam score                0.970557    1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

#### Answer -

In [5]:
df = pd.DataFrame({"sleep time(hours)":[7,6,8,5,7],
                 "Job Satisfaction ":[8,6,9,5,7]})

In [6]:
df

   sleep time(hours)  Job Satisfaction
0                  7                  8
1                  6                  6
2                  8                  9
3                  5                  5
4                  7                  7

In [7]:
from scipy.stats import spearmanr

In [8]:
spearmanr(df["sleep time(hours)"],df["Job Satisfaction "])

SpearmanrResult(correlation=0.9746794344808963, pvalue=0.004818230468198566)

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

#### Answer -

In [1]:
import numpy as np
from scipy.stats import pearsonr, spearmanr

In [2]:
np.random.seed(0)
hours_of_exercise = np.random.randint(0, 10, 50)  
bmi = np.random.randint(18, 35, 50)

In [3]:
pearsonr(hours_of_exercise, bmi)

PearsonRResult(statistic=0.01809740216405438, pvalue=0.9007282622101264)

In [4]:
spearmanr(hours_of_exercise, bmi)

SpearmanrResult(correlation=0.01783918048120084, pvalue=0.9021377653730158)

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

#### Answer -

In [5]:
hours_watching_tv = np.random.randint(1, 5, 50)  
physical_activity_level = np.random.randint(1, 10, 50)

In [6]:
pearsonr(hours_watching_tv, physical_activity_level)

PearsonRResult(statistic=-0.04414868341443646, pvalue=0.7607996176749563)

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [9]:
pd.DataFrame({"Age(Years)":[25,42,37,19,31,28],
             "Soft drink Preference":["Coke","Pepsi","Mountain dew","Coke","Pepsi","Coke"]})

   Age(Years) Soft drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

#### Answer -

In [7]:
np.random.seed(0)
sales_calls_per_day = np.random.randint(10, 50, 30) 
sales_per_week = np.random.randint(5, 20, 30)

In [8]:
pearsonr(sales_calls_per_day, sales_per_week)

PearsonRResult(statistic=0.22898969830799928, pvalue=0.22353286132688252)